<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="100">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>

			<!-- LOGO -->
			<a class="navbar-brand" href="/"><img src='/img/dijon-logo.png' alt='dijon'></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="#services">Services</a></li>
				<li><a class="page-scroll" href="#info">Info</a></li>
				<li><a class="page-scroll" href="#service-features">Features</a></li>
			</ul>
		</div>
	</div>
</nav>